.goodsFiler{
	width: 800px;
}
.goodsFiler ul{
	list-style: none;
}
.goodsFiler li{
	overflow: hidden;
	zoom: 1;
	border-bottom: 1px dashed lightgray;
}
.goodsFiler .filerName{
	float: left;
	width: 100px;
	height: 22px;
	margin-top: 15px;
	font-weight: bold;
}
.goodsFiler .intro{
	float: left;
	width: 620px;
	padding: 15px;
}
.goodsFiler a{
	display: inline-block;
	margin: 0 10px 20px 0;
	text-decoration: none;
	color: blue;
}
.goodsFiler a:hover{
	color: red;
	background-color: lightgray;
}
.goodsFiler .chosed .intro span{
	display: none;
	margin: 10px;
	padding: 5px;
	background: none;
	color: red;
	border: 1px solid lightgray;
}
.goodsFiler li.chosed .intro span em{
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background-color: gray;
	color: white;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	cursor: pointer;
}
.goodsFiler li.chosed .intro a{
	margin-left: 10px;
	background: none;
	color: gray;
	font-weight: bold;
	border: none;
}
.selected{
	background-color: lightgray;
}
