.oBox{
	width: 100%;
	height: auto;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
}
.iBox{
	box-sizing: border-box;
	width: 25%;
	height: auto;
	display: flex;
}
.iBox img{
	margin: 20px auto;
	opacity: 0;
}
